@font-face {
    font-family: inter;
    src: url("~@/assets/fonts/Inter-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: inter;
    src: url("~@/assets/fonts/Inter-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: PTsans;
    src: url("~@/assets/fonts/PTSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: PTsans;
    src: url("~@/assets/fonts/PTSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }